<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="div_principal">
            
        <div class="div_tela">
            <header class="cabecalho">
                <center>
                  <img src="../static/lib/logo.png" class="logopng">
                    
                </center>
                <div class="navbar">
                  <a href="index.html">Principal</a>
                  <a href="CadRaca.html">Fichas</a>
                  <a href="Rolagem.html">Rolagem de Dados</a>
                  <a href="Customizacoes.html">Customizações</a>
                  <a href="#contact">Sair</a>
                </div>

            </header> 
            <hr>

            <center>

                  <div style="outline:auto; display:inline-block; width: 20vw; min-width: fit-content;">
                    <h1 style="margin: 10px">Criar nova raça</h1>
                    <hr>
                    <div style="justify-self: center; clear:right; position:static">
                      <form action="">
                        <label for="Nome" style="display: inline-block"><h4>Nome:</h4></label>
                        <input id="Nome" type="text" size="10" style="display: inline-block">
                        <br>
                        <label for="Avh" style="display: inline-block"><h4>Aumento no Valor de Habilidade:</h4></label>
                        <ul>
                          <li>Força:<input type="number" style="width: 50px"></li>
                          <li>Constituição:<input type="number" style="width: 50px"></li>
                          <li>Destreza:<input type="number" style="width: 50px"></li>
                          <li>Inteligência:<input type="number" style="width: 50px"></li>
                          <li>Sabedoria:<input type="number" style="width: 50px"></li>
                          <li>Carisma:<input type="number" style="width: 50px"></li>
                        </ul>
                        <br>
                        <label for="Tamanho" style="display: inline-block"><h4>Tamanho:</h4></label>
                        <input id="Tamanho" type="text" size="10">
                        <br>
                        <label for="Idioma" style="display: inline-block"><h4>Idioma:</h4></label>
                        <input id="Idioma"type="text" size="10">
                        <br>
                        <label for="Tendencia" style="display: inline-block"><h4>Tendência:</h4></label>
                        <input id="Tendencia" type="text" size="10">
                        <br>
                        <label for="Deslocamento" style="display: inline-block"><h4>Deslocamento:</h4></label>
                        <input id="Deslocamento" type="text" size="10"  >
                        <br>
                        <button>Salvar</button>
                      </form>

                    </div>
                  </div>
              <hr>
            </center>
        </div>
    </div>
</body>
</html>