<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Jogador</title>
    <link rel="stylesheet" href="../static/Css/index.css">
</head>

<body>
    <div class="div_principal">

        <div class="div_tela">
            <header class="cabecalho">
                <center>
                    <img src="../static/lib/logo.png" class="logopng">

                </center>

                <div class="navbar">
                    <a href="index.html">Principal</a>
                    <a href="fichasJogador.html">Fichas</a>
                    <a href="Rolagem.html">Rolagem de Dados</a>
                    <a href="Customizacoes.html">Customizações</a>
                    <a href="#contact">Sair</a>
                </div>

            </header>
            <hr>

            <center>
                <h1><span class="legenda"> Login do Jogador</span></h1>
            </center>
            <center>
                <table>
                    <tr>
                        <td><span class="legenda">Login: </span></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><span class="legenda">Senha: </span></td>
                        <td><input type="password"></td>
                    </tr>
                </table>
            </center>
            <table>
                <center>
                    <button class="legenda" onclick="Salvar()">Salvar</button>
                    <button class="legenda" onclick="Cancelar()">Cancelar</button>
            </table>
            </center>
        </div>
    </div>
</body>

</html>