<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EasyDnD 5.0</title>
        <link rel="stylesheet" href="../static/Css/index.css">
</head>
<body>
<h1>ESPIRRO ÁCIDO</h1>
<h4>Truque de conjuração</h4>
<span>Tempo de conjuração: 1 ação </span><br>
<span>Alcance: 18 metros</span><br>
<span>Componentes: V, S</span><br>
<span>Duração: Instantânea</span><br>
<br>
<span>Você arremessa uma bolha de ácido. Escolha uma <br>
    criatura dentro do alcance, ou escolha duas criaturas<br>
    dentro do alcance que estejam a 1,5 metro uma da outra.<br>
    Um alvo deve ser bem sucedido num teste de resistência<br>
    de Destreza ou sofrerá 1d6 de dano ácido.<br>
    O dano dessa magia aumenta em 1d6 quando você<br>
    alcança o 5° nível (2d6), 11° nível (3d6) e 17° nível (4d6).<br></span>
</body>
</html>