<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EasyDnD 5.0</title>
        <link rel="stylesheet" href="../static/Css/index.css">
    </head>
    <body>
        <div class="div_principal">
            
            <div class="div_tela">
                <header class="cabecalho">
                    <center>
                        <img src="../static/lib/logo.png" class="logopng">
                        
                    </center>

                    <div class="navbar">
                        <a href="index.html">Principal</a>
                        <a href="fichasJogador.html">Fichas</a>
                        <a href="Rolagem.html">Rolagem de Dados</a>
                        <a href="Customizacoes.html">Customizações</a>
                        <a href="#contact">Sair</a>
                      </div>

                </header> 
                <hr>
                <table>
                <tr>
                    <td><input type="checkbox" id="p_ac" name="pericias"></td>
                    <td><input type="text" style="width: 13px; height: 13px;" ></td>
                    <td><label>Acrobacia(DES)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_ar" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Arcanismo(INT)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_at" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Atletismo(FOR)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_atu" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Atuação(CAR)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_bf" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Blefar(CAR)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_fu" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Furtividade(DES)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_hs" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>História(INT)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_it" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Intimidação(CAR)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_ic" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Intuição(SAB)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_iv" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Investigação(INT)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Lidar com Animais(SAB)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_md" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Medicina(SAB)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_nt" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Natureza(INT)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Percepção(SAB)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Persuasão(SAB)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Pretisdigitação(DES)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Religião(INT)</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="p_la" name="pericias"></td>
                    <td><input type="text" size="1" style="width: 13px; height: 13px;" ></td>
                    <td><label>Sobrevivência(SAB)</label></td>
                </tr>

                </table>
                    
            </div>      
        </div>
    </body>
</html>
