<!DOCTYPE html>
<html>
<body>
    <div>
         <div id="div_bio_atributos" style="width: 16vw">
                            <h4>PERICIAS</h4>
                            <div style="display: inline-block; width: 5vw;">
                                
                            </div>
                            <div style="display: inline-block; width: 5vw;">
                                Perícia
                            </div> 
                            <div style="display: inline-block; width: 5vw;">
                                Valor
                            </div>

                            <div class="div_atributos">
                                força 
                            </div>
                            <div class="div_atributos">
                                10
                            </div> 
                            <div class="div_atributos">
                                0
                            </div>
                            <div class="div_atributos">
                                força
                            </div> 
                                <div class="div_atributos">
                                    10
                                </div> 
                                <div class="div_atributos">
                                    0
                                </div>
                            
                            <div class="div_atributos">
                                força
                            </div> 
                                <div class="div_atributos">
                                    10
                                </div> 
                                <div class="div_atributos">
                                    0
                                </div>
                            
                            <div class="div_atributos">
                                força
                            </div> 
                                <div class="div_atributos">
                                    10
                                </div> 
                                <div class="div_atributos">
                                    0
                                </div>
                            
                            <div class="div_atributos">
                                força
                            </div> 
                                <div class="div_atributos">
                                    10
                                </div> 
                                <div class="div_atributos">
                                    0
                                </div>
                            <div class="div_atributos">
                                força
                            </div>
                                <div class="div_atributos">
                                    10
                                </div> 
                                <div class="div_atributos">
                                    0
                                </div>
                            
                        </div>
    </div>
</body>
</html>